.searchBar {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  width: 100%;
}

.small {
  --input-height: 2rem;
}

.medium {
  --input-height: 2.5rem;
}

.large {
  --input-height: 3rem;
}

.searchBar input {
  height: var(--input-height);
  flex: 1;
}

.searchBar button {
  height: var(--input-height);
  flex-shrink: 0;
}
