.progressBarContainer {
    width: 100%;
    background-color: var(--color-grey-light);
    border-radius: var(--border-radius-sm);
    overflow: hidden;
    height: 1.5rem;
    position: relative;
  }
  
  .progressBar {
    height: 100%;
    transition: width 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-sm);
    color: var(--color-white);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-sm);
  }
  
  .striped {
    background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent
    );
    background-size: 1rem 1rem;
  }
  
  .animated {
    animation: progress-bar-stripes 1s linear infinite;
  }
  
  @keyframes progress-bar-stripes {
    from {
      background-position: 1rem 0;
    }
    to {
      background-position: 0 0;
    }
  }
  
  .progressLabel {
    font-size: var(--font-size-xs);
    font-weight: bold;
    color: var(--color-white);
  }
  